{% extends "backoffice/base.html" %}
{% load static %}
{% load compress %}
{% block stylesheets %}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "backoffice/scss/login.scss" %}">
    {% endcompress %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
            <div class="logo">
                <img src="{% static "shared/img/logo.svg" %}">
            </div>

            <div class="account-wall">
                <form class="form-signin" action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" class="form-control" placeholder="Username" required autofocus id="username"
                           autocomplete="off" name="username">
                    <input type="password" class="form-control" placeholder="Password" required id="password"
                           autocomplete="off" name="password">
                    <div class="form-group languages">
                        <label class="radio">
                            <input type="radio" name="language" value="de" checked>
                            Deutsch
                        </label>
                        <label class="radio">
                            <input type="radio" name="language" value="en">
                            English
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "backoffice/js/login.js" %}"></script>
{% endblock %}
