{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load l10n %}
{% load humanize %}
{% load crispy_forms_tags %}
{% load static %}

{% block headline %} {% trans "Statistics" %}{% endblock %}

{% block content %}

<h3>{% trans "Progress" %}</h3>

    <p>
        {% blocktrans with redeemed_preorders=redeemed_preorders all_preorders=all_preorders preorder_percentage=preorder_percentage trimmed %}
        Currently, about {{ redeemed_preorders }} of {{ all_preorders }} preorders are redeemed: <strong>{{ preorder_percentage }}%</strong>.
        {% endblocktrans %}
    </p>

    <h3>{% trans "Troubleshooter stock" %}</h3>
    {% for t in troubleshooter_stock %}
        <ul>
            <li>{{ t.s }} x {{ t.item__name }}</li>
        </ul>
    {% endfor %}

<h3>{% trans "Products" %}</h3>

<ul>
    {% for product in products %}
    <li>
        {% blocktrans with redeemed=product.amount_redeemed sold=product.amount_sold name=product.name percent=product.redeemed_percent preordered=product.preordered trimmed %}
        <strong>{{ name }}</strong> was sold {{ sold }} times and redeemed {{ redeemed }} ({{ percent }} % of {{ preordered }}) times.
        {% endblocktrans %}

    </li>
    {% endfor %}
</ul>

    <h3>{% trans "Items" %}</h3>

    <ul>
        {% for item in items %}
            <li>
                {% blocktrans with redeemed=item.amount_redeemed sold=item.amount_sold name=item.name trimmed %}
                    <strong>{{ name }}</strong> was sold {{ sold }} times and redeemed {{ redeemed }} times.
                {% endblocktrans %}

            </li>
        {% endfor %}
    </ul>

    <h3>{% trans "Quotas" %}</h3>

    <ul>
        {% for quota in quotas %}
        <li>
            {% blocktrans with name=quota.name available=quota.amount_available size=quota.size trimmed %}
            <strong>{{ name }}</strong> is still available {{ available }} of {{ size }} times.
            {% endblocktrans %}

        </li>
        {% endfor %}
    </ul>

    <h3>{% trans "Cash movements total" %}</h3>

    <ul>
        {% for cashdesk in cashdesks %}
            <li>
                {% blocktrans with name=cashdesk.name balance=cashdesk.cash_balance|intcomma trimmed %}
                    <strong>{{ name }}</strong>: {{ balance }}
                {% endblocktrans %}

            </li>
        {% endfor %}
    </ul>

{% endblock %}
