{% extends 'backoffice/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}
    <script type="text/javascript" src="{% static "backoffice/js/record_list.js" %}"></script>
    <script type="text/javascript" src="{% static "backoffice/js/supply.js" %}"></script>
{% endblock %}

{% block page_override %} full-width{% endblock %}
{% block content %}
    <h2>{% trans "Outgoing supply to troubleshooter" %}</h2>
    <form action="" method="post">
        {% crispy form %}
        <div class="form-actions">
            <button type="submit" name="submit" class="btn btn-primary btn-block" id="submit-save">
                {% trans "Create and next" %}
            </button>
        </div>
    </form>

{% endblock %}
