{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>postix</title>
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static "shared/css/typeaheadjs.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "shared/fonts/fonts.css" %}">
        <link rel="stylesheet" type="text/x-scss" href="{% static "desk/scss/postix.scss" %}">
    {% endcompress %}
    <link rel="shortcut icon" href="{% static "shared/img/favicon.png" %}">
</head>
<body class="login">
<div class="logo">
    <img src="{% static "shared/img/logo.svg" %}">
</div>
<div class="panel panel-primary panel-login">
    <div class="panel-heading">
        <h3 class="panel-title">postix</h3>
    </div>
    <div class="panel-body">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form action="" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" placeholder="{% trans "User name" %}" class="form-control"
                       id="username" autocomplete="off">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="{% trans "Password" %}" class="form-control"
                       id="password" autocomplete="off">
            </div>
            <div class="form-group languages">
                <label class="radio">
                    <input type="radio" name="language" value="de" checked>
                    Deutsch
                </label>
                <label class="radio">
                    <input type="radio" name="language" value="en">
                    English
                </label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                {% trans "Log In" %}
            </button>
        </form>
    </div>
</div>
<script type="text/javascript" src="{% static "shared/js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "desk/js/login.js" %}"></script>
</body>
</html>
