{% extends 'troubleshooter/base.html' %}
{% load i18n %}
{% load static %}

{% block headline %}
    {% trans "Preorder" %} {{ preorder.order_code }}
    {% if preorder.is_canceled %}
       <span class="label label-danger">{% trans "Canceled" %}</span>
    {% elif preorder.is_paid %}
        <span class="label label-success">{% trans "Paid" %}</span>
    {% else %}
        <span class="label label-warning">{% trans "Unpaid" %}</span>
    {% endif %}
{% endblock %}

{% block content %}
    {% if preorder.warning_text %}
        <div class="alert alert-warning">
            {{ preorder.warning_text }}
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <tbody>
            {% for position in preorder.positions.all %}
                <tr class="{% if position.is_redeemed %}active{% else %}info{% endif %}">
                    <td> {{ position.product }} </td>
                    <td> {{ position.information }} </td>
                    <td> <a href="#" class="secret" data-data="{{ position.secret }}">{{ position.secret|slice:":14" }}…</a> </td>
                    <td>
                        {% if position.is_redeemed %}
                            {% trans "redeemed" %}
                        {% else %}
                            {% trans "not redeemed" %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <p>
       {% trans "Click on one of the secrets to get a QR code for it:" %}
    </p>
    <div id="qrcode" style="float: none;"></div>

    {% block scripts %}
        <script type="text/javascript" src="{% static "shared/js/qrcode.min.js" %}"></script>
        <script type="text/javascript" src="{% static "troubleshooter/js/secrets.js" %}"></script>
    {% endblock %}
{% endblock content %}
